<%- include('./partials/_head') %>
  <title>Login - TinyApp</title>
</head>
<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <main class=".container-sm" style="margin: 1em; display: flex; align-items: center;flex-direction: column;">
    <h2 style="color: gray">Login</h3>
    <h4 style="color: gray">Welcome Back</h3>
    <form method="POST" action="/register" style="margin: 5%; max-width: 400px;">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" placeholder="jean@example.com" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div style="display: flex; justify-content: center;">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </main>
  <%- include('partials/_bodyScripts') %>