<%- include('./partials/_head') %>
  <title>Unauthorized - TinyApp</title>
</head>
<body style="width: 100vw;">
  <header>
    <%- include('partials/_header') %>
  </header>
  <main style="display: flex; align-items: center;flex-direction: column; padding: 2em;">
    <h2 style="color: gray;">Invalid Short URL</h2>
    <h4 style="color: lightgray;">You are only authorized to view details on URLs registered with your account</h4>
  </main>
  <%- include('partials/_bodyScripts') %>