<%- include('./partials/_head') %>
  <title>Register - TinyApp</title>
</head>
<body style="width: 100vw;">
  <header>
    <%- include('partials/_header') %>
  </header>
  <main class="card" style="display: flex; align-items: center;flex-direction: column;">
    <h3 class="card-header" style="width: 100%; text-align: center; color: gray">Create Account</h3>
    <form method="POST" action="/register" class="card-body" style="margin: 5%; max-width: 400px;">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" placeholder="jean@example.com" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div style="display: flex; justify-content: center;">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </main>
  <%- include('partials/_bodyScripts') %>